.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  color: var(--lightBlue);
  text-transform: uppercase;
  padding: mobile-vw(20px) 0;
  background-color: var(--navBackground);
  backdrop-filter: blur(2px);

  @include desktop {
    padding: desktop-vw(10px) 0;
  }

  .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;

    button {
      background-color: var(--neonBlue);
      color: white;
      width: mobile-vw(50px);
      height: mobile-vh(40px);

      @include desktop {
        width: desktop-vw(100px);
        height: desktop-vh(80px);
      }
    }
  }

  /* .lottie {
    background-color: red;
    width: 100%;
    height: 100%;
  } */

  .brand {
    display: flex;
    align-items: center;

    & p {
      font-size: 6vw;
      letter-spacing: 0.2vw;
      color: var(--neonBlue);

      @include desktop {
        font-size: desktop-vw(40px);
      }

      &:hover {
        cursor: default;
      }
    }

    & img {
      background-color: none;
      width: mobile-vw(30px);

      @include desktop {
        width: desktop-vw(50px);
      }
    }
  }
}
