/* Breakpoints */
$mobile-breakpoint: 800px;

// Viewport Sizes
$desktop-width: 1440px;
$desktop-height: 900px;

$tablet-width: 1120px;
$tablet-height: 800px;

$mobile-width: 375px;
$mobile-height: 650px;
